@font-face {
  font-family: 'Lovelo Black';
  src: url('../fonts/lovelo_black-webfont.eot');
  src: url('../fonts/lovelo_black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lovelo_black-webfont.woff2') format('woff2'), url('../fonts/lovelo_black-webfont.woff') format('woff'), url('../fonts/lovelo_black-webfont.ttf') format('truetype'), url('../fonts/lovelo_black-webfont.svg#loveloblack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lovelo Line';
  src: url('../fonts/lovelo_line_bold-webfont.eot');
  src: url('../fonts/lovelo_line_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lovelo_line_bold-webfont.woff2') format('woff2'), url('../fonts/lovelo_line_bold-webfont.woff') format('woff'), url('../fonts/lovelo_line_bold-webfont.ttf') format('truetype'), url('../fonts/lovelo_line_bold-webfont.svg#loveloline_bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Lovelo Line';
  src: url('../fonts/lovelo_line_light-webfont.eot');
  src: url('../fonts/lovelo_line_light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lovelo_line_light-webfont.woff2') format('woff2'), url('../fonts/lovelo_line_light-webfont.woff') format('woff'), url('../fonts/lovelo_line_light-webfont.ttf') format('truetype'), url('../fonts/lovelo_line_light-webfont.svg#loveloline_light') format('svg');
  font-weight: 300;
  font-style: normal;
}
